body {
  background: linear-gradient(190deg, #810ca8 10%, #2d033b 90%);
}

header {
  z-index: 1000;
  width: 100%;
  position: fixed;
  background: white;
  box-shadow: 0px 10px 10px #999;
}

/* section {
  padding-top: 3%;
  padding-bottom: 3%;
} */

nav .navbar-nav li a {
  font-weight: bold;
  color: #2d033b !important;
}

nav .navbar-nav li a:hover {
  color: #810ca8 !important;
  transition: 0.6s;
}

/* #section-modulo {
}/*/

/* #section-modulo-container {
  padding-top: 3%;
  padding-bottom: 3%;
}  */

.modulo-wrapper {
  padding-top: 6%;
  padding-bottom: 6%;
}

#modulo-container {
  min-height: 450px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px #999;
}

#section-sobre {
  padding-top: 160px;
  padding-bottom: 50px;
}

#modulo-content {
  width: 50%;
}

#modulo-content-title-frame {
  width: 95%;
}

#modulo-img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#modulo-img-div img {
  margin: auto;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 400px;
}

#section-sobre-title,
#section-sobre-subtitle,
#section-sobre-description {
  color: white;
}

#navbar {
  padding-left: 5px;
}

#modulo-container:hover {
  transition: 0.4s;
  scale: 1.05;
}

#link-button1:hover,
#link-button:hover {
  color: white;
  transition: 0.6s;
}

#link-button1 {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#link-button0 {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#img-main {
  border-radius: 2%;
}

#button0:hover {
  background-color: #2d033b;
  color: white;
  transition: 0.6s;
}

#button0 {
  background-color: white;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#button1:hover {
  background-color: #810ca8;
  transition: 0.6s;
}

#button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d033b;
  text-decoration: none;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  width: 40%;
}

#button-main-container {
  padding: 0;
  margin-top: 6%;
}

#button-img-container {
  padding-right: 10px;
}

#img-githubicon {
  width: 25px;
}

#brand {
  font-size: 1.2vh;
  font-weight: bold;
}

@media (min-width: 459px) {
  #button1 {
    width: 80%;
  }

  .navbar-brand {
    position: fixed;
    right: 0;
    margin-right: 15px;
  }

  #modulo-container:hover {
    transition: none;
    scale: unset;
  }

  #header-container {
    margin-left: 0;
  }

  #section-sobre {
    padding-top: 100px;
  }

  #modulo-img-div {
    margin-bottom: 16px;
  }

  #modulo-img-div img {
    width: 100%;
    height: auto;
  }

  #modulo-content {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .navbar-brand {
    position: fixed;
    right: 0;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  #button1 {
    width: 40%;
  }

  .navbar-brand {
    position: unset;
  }

  #header-container {
    margin-left: auto;
  }

  [id^="modulo-buttons"] {
    width: 90%;
    align-self: center;
  }
}

@media (min-width: 992px) {
  #modulo-buttons {
    width: 100%;
  }
  #modulo-img-div {
    margin-bottom: 0;
  }
  #modulo-content {
    width: 60%;
  }

  #modulo-img-div img {
    width: 500px;
    height: 350px;
  }
}

@media (min-width: 1200px) {
  #modulo-container:hover {
    transition: 0.4s;
    scale: 1.05;
  }

  #section-sobre {
    padding-top: 160px;
  }

  [id^="modulo-buttons"] {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
    justify-content: flex-start !important;
  }

  #modulo-buttons-1 {
    flex-wrap: nowrap !important;
  }
}

@media (min-width: 1400px) {
  [id^="modulo-buttons"] {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%;
    justify-content: center !important;
  }

  #modulo-buttons-1 {
    flex-wrap: nowrap !important;
  }

  #modulo-img-div img {
    width: 500px;
    height: 350px;
  }
}
