* {
  box-sizing: content-box;
  color: $color1;
  font-family: $font-family1;
  font-weight: 600;
}

body {
  overflow-x: hidden;
}

.btn-outline-secondary:hover {
  color: $color5 !important;
  background-color: $color3;
  transition: 0.6s;
}

section {
  margin-top: 60px;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-size: $font-size3;
  font-weight: bold;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: $font-size2;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
  }

  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
  }
}

h2 {
  font-weight: bold;
  font-size: $font-size3;
}

h3 {
  font-weight: normal;
  color: $color2;
}

h4 {
  font-weight: normal;
  font-size: $font-size4;
  color: $color2;
}

h6 {
  color: $color2;
}
