$color1: black;
$color2: #5e5e5e;
$color3: #4286df;
$color4: #3f3e3e;
$color5: white;
$color6: #0074ff;

$font-size1: 0.8rem;
$font-size2: 3.5rem;
$font-size3: 2.5rem;
$font-size4: 2rem;
$font-size5: 2.3rem;
