$color-01: #5f5f5f;
$color-02: #cccccc;
$color-03: white;
$color-04: #dc002d;
$color-05: #e0e0e0;
$color-06: #8a001c;
$color-07: #4e0110;
$color-08: #fdfcfc;
$color-09: #4d4c4c;
$color-10: #d1d1d1;
$font-size-01: 14px;
$font-family-01: Arial, Helvetica, sans-serif;
$padding-01: 25px;
$size-full: 100%;
$width-full: 100vw;
$width-default: 988px;
$width-default-02: 938px;
$width-image-01: 595px;
$width-image-02: 250px;
$height-default: 440px;
$background-color-01: rgb(57, 57, 57);
$background-color-02: rgb(0, 0, 0);
$img-url-01: url("../images/banner-01.jpg");
$img-url-02: url("../images/img-video.jpg");
$img-url-03: url("../images/logo-gapp-footer.png");
$img-url-04: url("../images/icon-location.png");
$img-url-05: url("../images/logo-gapp.png");
