* {
    margin: 0;
    padding: 0;
}

#log{
    border-radius: 10px;
    padding: 10px 0;
    margin: 20% auto;
    width: 400px;
    min-height: 500px;
    height: fit-content;
    background-color: #ddd;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

#approved{
    color: green;
}

#reproved{
    color: red;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

form {
    background: #ddd;
    padding: 20px;
    display: block;
    margin: 20px auto;
    width: 50%;
}

h2 {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

input, button {
    display: block;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

input {
    width: 80%;
    padding: 1rem 2rem;
}

button {
    border: 0 none;
    border-radius: 2rem;
    color: #fff;
    background-color: #2121be;
    width: 10rem;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-bottom: 0;
}

button:hover {
    background-color: #4545c2;
}

.mensagem,
#resultado {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.erro {
    border-color: #f00;
}