* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

div, 
p {
    display: block;
}

article,
section,
header{
    color: $color-04;
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 0;
}

footer {
    background-color: $bg-color;
    color: $color-04;
    display: block;
    float: right;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 0;
    p{
        padding-left: 1rem;
        color: $color-02;
        margin-bottom: 0;
        text-align: end;
        a{
            color:$color-04;
            font-weight: bold;
            text-decoration: none;
        }
        a:hover{
            color: $color-03;
        }
    }
}

section {
    padding: 0;
}

img {
    border-radius: $border-01;
    width: 100%;
    height: auto;
}

body {
    font-family: $font-family-default;
    font-size: $font-small;
    color: $color-default;
}

p {
    color: $color-01;
    font-size: $font-normal;
    margin-bottom: $mb;
    text-align: $align;
}

h1 {
    color: $color-01;
    font-family: $font-family-primary;
    font-size: $font-big;
    margin-top: $mt-02;
}

h2 {
    color: $color-02;
    font-size: $font-medium;
}

h3 {
    color: $color-03;
    font-size: $font-normal;
}

header{
    font-size: $font-medium;
    background-color: $bg-color;
    p {
        color: $color-02;
    }
}