.nav {
  display: flex;
  justify-content: space-between;
  width: 380px;
  align-items: center;
  @media (max-width: 600px){
    width: 100%;
  }

  &__item {
    font-family: $font-family2;
    text-shadow: 1px 2px 8px #ffffff;
    color: $font-color-primary;
    font-size: $font-size-nav;
    text-decoration: none;
    position: relative;
    padding: 0 10px;
    &:hover {
      color: $color-secondary;
      font-weight: bold;
      animation: toTop;
      animation-duration: 1s;
    }
  }
}
