
#sobre {
    background-color: none;
    .container {
        background-color: rgba(0, 0, 0, .1);
        border-radius: .5rem;
        margin: 2rem auto;
        padding: 0 2rem 2rem;
    }

    article {
        
        p {
            font-size: $font-size-default;
            color: $font-color-primary;
        }
    }
}