@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

$align: left;
$bg-color: #ddd;
$color-01: #F95;
$color-02: #999;
$color-03: #f00;
$color-04: #222;
$color-default: #444;
$font-big: 3.5rem;
$font-family-default: 'Nanum Gothic', sans-serif;
$font-family-primary: 'Noto Sans', sans-serif;
$font-medium: 2.5rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;
$tablet: 999px;
$border-01: 10px;