@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

div,
p {
  display: block;
}

article,
section,
header {
  color: #222;
  display: block;
  float: left;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
}

footer {
  background-color: #ddd;
  color: #222;
  display: block;
  float: right;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
}
footer p {
  padding-left: 1rem;
  color: #999;
  margin-bottom: 0;
  text-align: end;
}
footer p a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
}
footer p a:hover {
  color: #f00;
}

section {
  padding: 0;
}

img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.2rem;
  color: #444;
}

p {
  color: #F95;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

h1 {
  color: #F95;
  font-family: "Noto Sans", sans-serif;
  font-size: 3.5rem;
  margin-top: 3rem;
}

h2 {
  color: #999;
  font-size: 2.5rem;
}

h3 {
  color: #f00;
  font-size: 1.5rem;
}

header {
  font-size: 2.5rem;
  background-color: #ddd;
}
header p {
  color: #999;
}

.blocks {
  /* 
      BEM CSS
      - Block
      - Element 
      - Modifier

      - Padrão do Projeto / Design Patterns 

      Exemplo: 
      .cars__title
      .cars__list
      .cars__item
      .cars__item--destack 
      .cars__button
      .cars__img-container

      .block__element--modifier

   */
  padding: 3rem 0;
}
.blocks__title {
  color: #F95;
}
.blocks__list {
  list-style-type: none;
  font-size: 1.2rem;
  display: block;
  float: left;
  height: auto;
  margin: 1.5rem auto;
  padding: 1rem 0;
  width: 100%;
}
.blocks__item {
  color: #999;
  display: block;
  margin: 1.5rem 0.75rem;
  text-align: center;
  width: calc(33% - 15px);
}
@media (max-width: 999px) {
  .blocks__item {
    width: calc(99% - 30px);
  }
}
.blocks__img-container {
  display: block;
  height: 22rem;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 999px) {
  .blocks__img-container {
    height: 20rem;
  }
}
.blocks__description {
  color: #444;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.blocks__description--destack {
  color: #999;
}
.blocks__button {
  background-color: #F95;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 2.5rem;
  margin: 3rem auto 1.5rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
}

.cars__title {
  color: #999;
  font-size: 2.5rem;
}
.cars__item {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px rgba(68, 68, 68, 0.25);
  border-radius: 10px;
  color: #999;
  display: flex;
  float: left;
  height: 400px;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
}
.cars__item--destack {
  background-color: #222;
  border: 1px solid #F95;
  box-shadow: 0 0 1px rgba(68, 68, 68, 0.25);
}
.cars__button {
  font-size: medium;
  background-color: #444;
}
.cars__button:hover {
  background-color: #F95;
}

.destack {
  background-color: #222;
  padding: 0 1.5rem;
}
.destack__title {
  color: #f00;
  float: left;
  font-size: 3.5rem;
  margin-top: 0;
  margin: 1rem 0;
}
.destack__subtitle {
  float: left;
  font-size: 1.2rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
.destack__image {
  width: 100%;
  height: auto;
}
.destack__description {
  font-size: 1.5rem;
  color: #F95;
  padding: 2rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 83.3333333333%;
}
@media (max-width: 1199px) {
  .container {
    max-width: 83.3333333333%;
  }
}
.container__navbar {
  margin: 0 auto;
  padding-left: 1.5rem;
  max-width: 83.3333333333%;
}
@media (max-width: 1199px) {
  .container__navbar {
    max-width: 83.3333333333%;
  }
}/*# sourceMappingURL=style.css.map */