html {
  overflow-x: hidden;
}
html a {
  cursor: pointer;
  text-decoration: none;
}
html body {
  background: linear-gradient(180deg, #c8d9cd 10%, #527e4b 100%);
  margin: 0;
  padding: 0;
  display: unset;
  font-family: Arial, Helvetica, sans-serif;
}
html body img {
  width: 140px;
  height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}
html body #root {
  height: 150vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1020px) {
  html body #root {
    height: 200vh;
  }
}
html body #root .container__nav {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #058fb2;
  padding: 10px 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
html body #root .container__nav .content {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 10px;
}
html body #root .container__nav .content h2 {
  padding: 0 10px;
  margin: auto;
}
html body #root .container__nav .content nav {
  margin: auto;
  padding-left: 13px;
}
html body #root .container__nav .content nav a {
  padding: 0 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
html body #root h1 {
  color: #058fb2;
  text-align: center;
  margin-top: 4rem;
  font-size: 40px;
}
html body #root h2 {
  margin-top: 4rem;
}
html body #root #sobre article {
  margin: 25px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-height: 800px) and (max-width: 768px) {
  html body #root #sobre article {
    margin: 35px auto;
  }
}
@media (min-height: 800px) and (min-width: 1200px) {
  html body #root #sobre article {
    margin: 20px auto;
  }
}
@media (min-height: 900px) and (min-width: 1550px) {
  html body #root #sobre article {
    margin: -20px auto;
  }
}
html body #root #produtos {
  background-color: #058fb2;
  padding: 25px 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
html body #root #produtos .container {
  margin: 0 auto;
  width: 80%;
}
html body #root #produtos .container .vitrine {
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 0 auto;
}
@media (max-width: 1550px) {
  html body #root #produtos .container .vitrine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
}
@media (max-width: 768px) {
  html body #root #produtos .container .vitrine {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
}
html body #root #produtos .container .vitrine__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px 5px;
  padding: 15px 15px;
  border-radius: 8px;
}
html body #root #produtos .container .vitrine__item:hover {
  background-color: #527e4b;
  transition: 0.6s;
}
html body #root #produtos .container .vitrine__produto {
  margin-top: 0;
  font-size: 22px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
html body #root #produtos .container .vitrine__image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html body #root #produtos .container .vitrine__image img {
  width: 200px;
  height: 200px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 10px;
}
@media (max-width: 1550px) {
  html body #root #produtos .container .vitrine__image img {
    width: 150px;
    height: 150px;
  }
}
html body #root #produtos .container .vitrine__desc {
  color: white;
  font-size: 12px;
}
@media (max-width: 1550px) {
  html body #root #produtos .container .vitrine__desc {
    text-align: center;
  }
}
@media (max-width: 768px) {
  html body #root #produtos .container .vitrine__desc {
    margin: 15px auto;
  }
}
html body #root #produtos .container .vitrine__button {
  background-color: white;
  color: #058fb2;
  font-size: 12px;
  font-weight: bold;
  width: 70px;
  height: 25px;
  line-height: 26px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}
@media (max-width: 1550px) {
  html body #root #produtos .container .vitrine__button {
    align-self: center;
  }
}
@media (max-width: 768px) {
  html body #root #produtos .container .vitrine__button {
    margin: 0px auto;
  }
}
html body #root #produtos .container .vitrine__button:hover {
  background-color: #058fb2;
  color: white;
  transition: 0.5s;
}
html body #root #contato {
  padding: 50px 0;
}
html body #root #contato .container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}
html body #root #contato .container h1 {
  color: #47c7eb;
  margin-top: 0;
}
html body #root #contato .container .contato {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  html body #root #contato .container .contato {
    flex-direction: column;
  }
}
html body #root #contato .container .contato input {
  height: 20px;
  border-radius: 4px;
  border-color: #058fb2;
  margin: 0px 10px;
}
@media (max-width: 768px) {
  html body #root #contato .container .contato input {
    margin: 10px 10px;
  }
}
html body #root #contato .container .contato__button {
  height: 26px;
  border-radius: 4px;
  color: #058fb2;
  border-color: #058fb2;
  font-weight: bold;
}
@media (max-width: 768px) {
  html body #root #contato .container .contato__button {
    margin: 10px auto;
    width: 80px;
  }
}
html body #root #contato .container .contato__button:hover {
  background-color: #058fb2;
  color: white;
  transition: 0.5s;
}
html body #root footer {
  background-color: #058fb2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  justify-content: center;
}
html body #root footer .container {
  margin-top: 10px;
  margin-bottom: 5px;
  align-content: center;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
html body #root footer .container p {
  margin: 0;
  margin-bottom: 10px;
  width: 350px;
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: bold;
}
html body #root footer .container p:last-child {
  font-size: 10px;
  margin-bottom: 0px;
  color: unset;
  font-weight: unset;
}
html body #root footer .container p:last-child a {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}
html body #root footer .container p:last-child a:hover {
  color: white;
  font-weight: bold;
  transition: 0.6s;
}/*# sourceMappingURL=styles.css.map */