
/* Banner Style */
.banner {
    margin-top: 50px;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px;
    background-position: center center;
  }
  .banner .caption {
    background-color: rgba(250, 250, 250, 0.9);
    padding: 30px;
    max-width: 450px;
  }
  .banner .caption h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #1e1e1e;
  }
  .banner .caption .line-dec {
    width: 30px;
    height: 5px;
    background-color: #3a8bcd;
  }
  .banner .caption p {
    margin-top: 15px;
    margin-bottom: 20px;
  }