.main-button a {
    background-color: #3a8bcd;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.5s;
  }
  .main-button a:hover {
    opacity: 0.7;
  }

  #pre-header {
    background-color: #3a8bcd;
    text-align: center;
  }
  
  #pre-header span {
    color: #fff;
    font-size: 15px;
    padding: 10px 0px;
    display: inline-block;
  }

  .navbar .navbar-brand {
    text-align: center;
    width: 100%;
    position: relative;
    padding: 25px 0px;
  }
  .bg-dark {
    background-color: #fff !important;
    border-bottom: 1px solid #eee;
  }

  .navbar-toggler {
    background-color: #3a8bcd !important;
  }
  
  .navbar-dark .navbar-nav .nav-item {
    margin: 0px 15px;
  }
  .navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #1e1e1e;
    transition: all 0.5s;
  }
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: #3a8bcd;
  }
 
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
  }
  .navbar-dark .navbar-toggler {
    border-color: #3a8bcd;
    background-color: #3a8bcd;
    height: 50px;
    outline: none;
  }
  .navbar-dark .navbar-toggler-icon:after {
    content: "\f0c9";
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    font-family: "FontAwesome";
  }

  .owl-theme .owl-dots {
    text-align: center;
    margin-top: 30px;
  }
  .owl-theme .owl-dots .owl-dot {
    outline: none;
  }
  .owl-theme .owl-dots .active span {
    background-color: #3a8bcd !important;
  }
  .owl-theme .owl-dots .owl-dot span {
    background-color: #aaa;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0px 5px;
    outline: none;
  }