@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500");

$font-main: "Roboto", sans-serif;
$font-awesome:"FontAwesome";
$font-size-xs:13px;
$font-size-sm:14px;
$font-size-md:17px;
$font-size-lg:22px;
$font-size-xl:24px;
$backgroundImage1:url(../images/banner-bg.jpg);
$color1:#174caf;
$color2: black;
$color3: white;
$color4:#4a4a4a;
$color5:#3a8bcd;
$color6:#1e1e1e;
$color7:#eee;
$color8: rgba(250, 250, 250, 0.9);
$color9:#aaa;
$color10:#7a7a7a;


